@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #cfd9f1;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body .wrapper {
  position: absolute;
  margin: 10vh;
  height: calc(100vh - 2*10vh);
  width: calc(100vw - 2*10vh);
}

body .wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
