@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

html {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html body {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

html body #viewport {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
}

html body #viewport .sample-text {
  max-width: 960px;
  margin: 100px 0 150px 0;
}

html body #viewport .objects {
  display: block;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

html body #viewport .objects.back {
  mix-blend-mode: normal;
}

html body #viewport .objects.back {
  mix-blend-mode: multiply;
}

html body #viewport .objects .object {
  padding: 0.75rem;
  background: #d2daee;
  width: 13.5rem;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 0%);
}

html body #viewport .objects .object:hover {
  background: #eed2da;
}

html body #viewport .objects .object.open {
  background: #d2daee;
}

html body #viewport .objects .object .block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

html body #viewport .objects .object .block.image {
  width: 13.5rem;
  height: 10.125rem;
}

html body #viewport .objects .object .block.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html body #viewport .objects .object .block.name {
  margin: 0.75rem 0 0.5rem;
}

html body #viewport .objects .object .block.name p {
  font-weight: bold;
}

html body #viewport .objects .object .block.cover {
  pointer-events: none !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

html body #viewport .objects .object .block p {
  font-size: 0.736rem;
  line-height: 1rem;
  color: #1a1a1a;
  margin: 0 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  .objects {
    display: none !important;
  }
}
