@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-family: 'Roboto', sans-serif;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 7.36px;
  /* to be overriden with js according to window width */
  /* NOT */
}

html body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translate3d(0, 0, 0);
  /* will mess up draggable if applied to #viewport */
}

html p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.472rem;
  line-height: 2rem;
  color: #333333;
  margin: 0 0 1rem 0;
}

html p:last-child {
  margin: 0;
}

#viewport {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#viewport #cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(207, 217, 241, 0.5);
}

#viewport #objects {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

#viewport #objects .object {
  padding: 1.5rem;
  background: #aebcdf;
  width: 27rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#viewport #objects .object.open {
  mix-blend-mode: normal;
}

#viewport #objects .object.closed {
  mix-blend-mode: normal;
}

#viewport #objects .object .block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#viewport #objects .object .block.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#viewport #objects .object .block.name {
  margin: 1.5rem 0 1rem 0;
}

#viewport #objects .object .block.name p {
  font-weight: bold;
}

#viewport #objects .object .block.cover {
  pointer-events: none !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(174, 188, 223, 0.5);
}
