// this comment to tell node sass to compile this scss file to css
@import 'lib/fonts';
@import 'lib/utilities';
@import 'lib/colors';
$grid-size-rel: 0.5rem;
$line-height-rel: $grid-size-rel * 2;
$font-size-rel: $line-height-rel * 0.736;
$object-width: $grid-size-rel * 30;
$object-padding: $grid-size-rel * 1.5;
$object-padded-width: $object-width - $object-padding * 2;
* {
	// @include block-reset;
	// @include frame(transparentize($c-fg-lighter, 0.4));
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
html {
	// @include fill-fixed;
	@include block-reset;
	@include no-select;
	@include text-size-adjust(100%);
	// box-sizing: border-box;
	// -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
	// font-size: $font-size-abs;
	body {
		// @include fill-fixed;
		@include block-reset;
		#viewport {
			// @include fill-fixed;
			@include block-reset;
			position: relative;
			width: 100%;
			// height: 500px;
			// background: yellow;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
			padding: 1em;
			.sample-text {
				max-width: 960px;
				margin: 100px 0 150px 0;
			}
			.objects {
				display: block;
				position: absolute;
				margin: 0 auto;
				padding: 0;
				font-size: 0;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				&.back {
					mix-blend-mode: normal;
				}
				&.back {
					mix-blend-mode: multiply;
				}
				.object {
					padding: $object-padding;
					background: $c-bg-darker-2;
					width: $object-padded-width;
					cursor: pointer;
					position: absolute;
					transform: translate(-50%, 0%);
					&:hover {
						background: adjust-color($c-bg-darker-2, $hue: +120);
					}
					&.open {
						background: $c-bg-darker-2;
					}
					.block {
						position: relative;
						display: inline-block;
						vertical-align: top;
						&.image {
							width: $object-padded-width;
							height: $object-padded-width * 3/4;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						&.name {
							margin: $object-padding 0 $grid-size-rel;
							p {
								font-weight: bold;
							}
						}
						&.cover {
							pointer-events: none !important;
							position: absolute;
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							background: adjust-color(white, $alpha: -0.5);
						}
						p {
							font-size: $font-size-rel;
							line-height: $line-height-rel;
							color: $c-fg-lighter;
							margin: 0 0 $grid-size-rel;
						}
					}
				}
			}
		}
	}
}

// hide objects when screen width is below 768px
@media only screen and (max-width: 768px) {
	.objects {
		display: none !important;
	}
}
